<%-include('../cabecalho.ejs')%>

    <body>

        <div class="container">
            <h1>usuario</h1>
            <div class="add-usuario">
                <a href="/admin/usuario/add" class="add-btn">+ usuario</a>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <td>Opções</td>
                    </tr>
                </thead>
                <tbody>
                    <%Usuarios.forEach(function(usuario){%>
                    <tr>

                        <td><%=usuario.nome%></td>
                        <td><%=usuario.email%></td>
                        <td><%=usuario.cpf%></td>
                        <td><%=usuario.telefone%></td>
                        

                        <td class="action-buttons">
                            <a href="/admin/usuario/edt/<%=usuario.id%> " class="edit-btn">Editar</a>
                       
                            <a href="/admin/usuario/del/<%=usuario._id%>">Deletar</a>
                            </td>
                    </tr>
                    <%})%>
                 
                    </tr>
                </tbody>
            </table>
        </div>

    </body>

    </html>