<%-include('../cabecalho.ejs')%>
<body>
  
    <div class="container">
        
        <button type="button" class="bnt voltar" onclick="window.history.back()">Voltar</button>

        <h1>Adicionar Cotação</h1>
        <form action="/admin/cotacao/add" method="post">
            <div class="form-group">
               
                
            </div>
            <div class="form-group">
                <label for="origem">Origem</label>
                <select id="origem" name="origem" required>
                    <option value="" disabled selected hidden>Selecione sua Origem</option>
                    <% Aeroporto.forEach(function(aeroporto) { %>
                        <option value="<%= aeroporto.id %>"><%= aeroporto.nome %></option>
                    <% }); %>
                </select>
            </div>

            <div class="form-group">
                <label for="des">Destino</label>
                <select id="des" name="des" required>
                    <option value="" disabled selected hidden>Selecione sua Destino</option>
                    <% Aeroporto.forEach(function(aeroporto) { %>
                        <option value="<%= aeroporto.id %>"><%= aeroporto.nome %></option>
                    <% }); %>
                </select>
            </div>
            
            
            <div class="form-group">
                <label for="dataIda">Data de Idas</label>
                <input type="date" id="dataIda" name="dataIda"  required>
                    
                
            </div>

            <div class="form-group">
                <label for="dataVolta">Data de Voltas</label>
                <input type="date" id="dataVolta" name="dataVolta" required>       
                    
            
            </div>
      
            <div class="form-group">
                <label for="nome">Nome  </label>
                <input type="text" id="nome" name="nome"  required>
                <select id="nome" name="nome" required>
                    <option value="" disabled selected hidden>Selecione seu Nome</option>
                    <% Usuario.forEach(function(usuario) { %>
                        <option value="<%= usuario.id %>"><%= usuario.nome %></option>
                    <% }); %>
                </select>
            </div>

            <div class="form-group">
                <label for="contato">Contato  </label>
                <input type="text" id="contato" name="contato"  required>
                <select id="contato" name="contato" required>
                    <option value="" disabled selected hidden>Selecione seu numero</option>
                    <% Usuarios.forEach(function(usuario) { %>
                        <option value="<%= usuario.id %>"><%= usuario.telefone %></option>
                    <% }); %>
                </select>
            </div>
             
            <div class="form-group">
                <label for="status">Status  </label>
                <input type="text" id="status" name="status"  required>
            </div>

            <button type="submit">Adicionar Pedido</button>
            <button type="button" class="bnt cancelar" onclick="window.history.back()">Cancelar</button>
        </form>
    </div>

</body>
</html>
