<%-include('../cabecalho.ejs')%>

    <body>

        <div class="container">
            <h1>Editar Cotação</h1>
            <form action="/admin/cotacao/edt" method="post">
                <div class="form-group">
                    <input type="hidden" id="id" name="id" value="<%=Cotacao.id%>"> <!--ID da cotacao -->
                    
                </div>
                <div class="form-group">
                    <label for="origem">Origem  </label>
                    <input type="text" id="origem" name="origem" value="<%=Cotacao.origem%>" required>
                </div>
    
                <div class="form-group">
                    <label for="des">Destino</label>
                    <input type="text" id="des" name="des" step="0.01" value="<%=Cotacao.des%>" required>
                </div>
                
                
            <div class="form-group">
                <label for="dataIda">Data de Idas</label>
                <input type="date" id="dataIda" name="dataIda" value="<%=Cotacao.dataIda%>" required>
                    
                
            </div>

            <div class="form-group">
                <label for="dataVolta">Data de Voltas</label>
                <input type="date" id="dataVolta" name="dataVolta" value="<%=Cotacao.dataVolta%>" required>       
                    
            
            </div>
          
                <div class="form-group">
                    <label for="nome">Nome  </label>
                    <input type="text" id="nome" name="nome" value="<%=Cotacao.nome%>" required>
                </div>
    
                <div class="form-group">
                    <label for="contato">Contato  </label>
                    <input type="text" id="contato" name="contato" value="<%=Cotacao.contato%>" required>
                </div>
                 
                <div class="form-group">
                    <label for="status">Status  </label>
                    <input type="text" id="status" name="status" value="<%=Cotacao.status%>" required>
                </div>
    
                <button type="submit" class="bnt salvar">Salvar Cotação</button>
                <button type="button" class="bnt cancelar" onclick="window.history.back()">Cancelar</button>       
                 </form>
        </div>

    </body>

    </html>