<%-include('../cabecalho.ejs')%> 


  
    <body>
       
        <div class="container">
            <form action="/admin/cotacao/lst" method="post" class="form-inline" style="margin-bottom: 20px;">
                <input type="text" name="pesquisar" placeholder="Pesquisar por nome" required>
                <button type="submit">Pesquisar</button>
              </form>
              
            <h1>Cotação</h1>
            <div class="add-cotacao">
                <a href="/admin/cotacao/add" class="add-btn">+ Cotação</a>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Cliente</th>
                        <th>Contato</th>
                        <th>Status</th>
                        <th colspan="2">Ações</th> <!-- Adiciona espaço para Editar e Deletar -->
                     
                    </tr>
                </thead>
                <tbody>
                    <%Cotacaos.forEach(function(cotacao){%>
                    <tr>
                        <td><%=cotacao.origem!=null?cotacao.origem.nome:""%></td>
                        <td><%=cotacao.des!=null?cotacao.des.nome:""%></td>
                        <td><%=cotacao.cliente!=null?cotacao.usuario.nome + " /" + cotacao.usuario.telefone:""%></td>                       
                        <td><%=cotacao.status%></td>

                    <div>                       <td class="action-buttons">
                            <a href="/admin/cotacao/edt/<%= cotacao.id %>" class="edit-btn"><i class="fas fa-edit"></i> Editar</a>
                            <a href="/admin/cotacao/del/<%= cotacao._id %>" class="delete-btn" onclick="return confirm('Tem certeza que deseja deletar esta cotação?')">Deletar</a>
                            
                            </td></div>
 
                    </tr>
                    <%})%>
                 
                    </tr>
                </tbody>
            </table>
        </div>

    </body>

    </html>