<%-include('../cabecalho.ejs')%>

    <body>

        <div class="container">
          <form action="/admin/companhia/lst" method="post" class="form-inline" style="margin-bottom: 20px;">
            <input type="text" name="pesquisar" placeholder="Pesquisar por nome" required>
            <button type="submit">Pesquisar</button>
          </form>
            <h1>Companhia aeria</h1>
            <div class="add-companhia">
                <a href="/admin/companhia/add" class="add-btn">+ Companhia</a>
            </div>

            <table>
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">País de origem</th>
                    <th scope="col">Foto</th>
                    <th colspan="2">Ações</th>
      
                  </tr>
                </thead>
                <tbody>
                  <%Companhia.forEach(function(companhia){%>
                    <tr>
                      <td>
                        <%=companhia.nome%>
                      </td>
                      <td>
                        <%=companhia.pais_o%>
                      </td>
                      <td>
                        <img src="/arquivos/<%=companhia.foto%>" class="Imenor" />
                    </td>
                    <td class="action-buttons">
                      <a href="/admin/companhia/edt/<%= companhia.id %>" class="edit-btn"><i class="fas fa-edit"></i> Editar</a>
                      <a href="/admin/companhia/del/<%= companhia._id %>" class="delete-btn" onclick="return confirm('Tem certeza que deseja deletar este dado?')">Deletar</a>
                      
                      </td>
                    </tr>
      
                    <%})%>
      
                </tbody>
              </table>
        </div>

    </body>

    </html>