<%-include('../cabecalho.ejs')%>

    <body>

        <div class="container">
            <button type="button" class="bnt voltar" onclick="window.history.back()">Voltar</button>

            <h1>Editar aeroporto</h1>
            <form method="post" enctype="multipart/form-data">                
                <div class="form-group">
                    <input type="hidden" id="id" name="id" value="<%=Aeroporto.id%>"> <!--ID da cotacao -->
                    
                </div>
                <div class="form-group">
                    <label for="nome">Nome do aeroporto  </label>
                    <input type="text" id="nome" name="nome" value="<%=Aeroporto.nome%>" required ><br>
                </div>
    
                <div class="form-group">
                    <label for="localizacao">Localização </label>
                    <input type="text" id="localizacao" name="localizacao" step="0.01" value="<%=Aeroporto.localizacao%>" required ><br>
                </div>
                
                <div class="form-group">
                    <!--Imagem Atual-->
                    <input type="text" name="fotoantiga"value="<%=Aeroporto.foto%>">
                    <img src="/arquivos/<%=Aeroporto.foto%>" class="Imenor"/>
                    <label for="foto">Foto </label>
                    <input type="file" id="foto" name="foto" step="0.1" value="<%=Aeroporto.foto%>"  ><br>
                </div>

                <button type="submit">Salvar Alterações</button>
                <button type="button" class="bnt cancelar" onclick="window.history.back()">Cancelar</button>
                        </form>
        </div>

    </body>

    </html>