<%-include('../cabecalho.ejs')%>

    <body>

        <div class="container">
            <h1>aeroporto</h1>
            <div class="add-aeroporto">
                <a href="/admin/aeroporto/add" class="add-btn">+ aeroporto</a>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Localozação</th>
                        <th>Foto</th>
                        <th colspan="2">Ações</th> <!-- Adiciona espaço para Editar e Deletar -->
                       
                    </tr>
                </thead>
                <tbody>
                    <%Aeroportos.forEach(function(aeroporto){%>
                    <tr>
                        <td><%=aeroporto.nome%></td>
                        <td><%=aeroporto.localizacao%></td>
                        <td><%=aeroporto.foto%></td>
                        

                        <td class="action-buttons">
                            <a href="/admin/aeroporto/edt/<%=aeroporto.id%> " class="edit-btn">Editar</a>
                        </td>
                        <td>
                            <a href="/admin/aeroporto/del/<%=aeroporto._id%>">Deletar</a>
                            </td>
                    </tr>
                    <%})%>
                 
                    </tr>
                </tbody>
            </table>
        </div>

    </body>

    </html>